* {
    box-sizing: border-box;
    
}

h1 {
    position: absolute;
    margin:  auto;
    left: 66.66%;
    color: blue;  
}
.col-md-3 {
    margin: auto black;
    Padding: 10p;
    border: 1px black;
}